@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Agenda Online</h1>
    <p class="lead">Cadastro, Consulta e Gerenciamento de Agendamentos</p>
</div>

<div class="row">
  
</div>